#python
__pycache__/
*.py[cod]
*$py.class
*.egg-info
dist/
build/
docs/_build/
# mac
*DS_Store
# dev
*.idea
#js
*node_modules
*.build_cache
*inst
*deps
*man
# notes
# ignore build of viasp dash
# frontend/viasp_dash/*
# data
backend/src/viasp/shared/prg.lp
backend/src/viasp/shared/viasp_graph_storage.json
backend/src/viasp/shared/viasp_stdin_tmp.lp
